<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../resources/static/img/icono.ico">
    <link rel="stylesheet" href="../../resources/static/css/header.css" />
    <link rel="stylesheet" href="../../resources/static/css/ScrollBar.css" />
    <link rel="stylesheet" href="../../resources/static/css/about.css" />
    <title>About</title>
</head>
<body>
    <header>
        <div class="nav_bar">
            <a href="/" class="logo"></a>
            <div class="navigation">
                <div class="nav_items">
                    <i class="uil uil-times nav_close_btn"></i>
                    <a href="../../../../index.html"><i class="uil uil-estate"></i> Home</a>
                    <a href="new_product.html"><i class="uil uil-compass"></i> Add Product</a>
                    <a href="#"><i class="uil uil-info-circle"></i> About</a>
                </div>
            </div>
            <i class="uil uil-apps nav_menu_btn"></i>
        </div>
    </header>
    <section class="parallax-1">
        <div class="parallax-inner">
            <h1>STORE</h1>
        </div>
    </section>
    <marquee>
        <h2>
            your purchases come true
        </h2>
    </marquee>
    <p>
        This is a website for online shopping,
        it is focused on the administration of available products,
        the administrator is the one who manages it,
        being in charge of receiving,
        changing and removing products from the database.
    </p>
    <section class="parallax-2">
        <div class="parallax-inner">
            <h1>International Products</h1>
        </div>
    </section>
    <br>
    <div class="buttons_group">
        <button class="Btn">Results</button>
        <button class="Btn">Explain of demo-web</button>
        <button class="Btn">Class diagram</button>
        <button class="Btn">Springboot installation</button>
        <button class="Btn">Database diagram</button>
        <button class="Btn">Packages diagram</button>
        <button class="Btn">Creation Database</button>
        <button class="Btn">Database content</button>
    </div>
    <br>
    <h2>
        Diseign Data Base
    </h2>
    <p>
        The product database is just a crud and is made up of
        only one table or one class in the case of JavaScript,
        the web page does the basic functionality show, edit,
        delete and create.
    </p>
</body>
</html>