<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Thymeleaf Referencies  -->
        <link rel="icon" th:href="@{/img/icono.ico}">
        <link rel="stylesheet" th:href="@{/css/general.css}" />
        <link rel="stylesheet" th:href="@{/css/table.css}" />
        <link rel="stylesheet" th:href="@{/css/header.css}" />
        <link rel="stylesheet" th:href="@{/css/ScrollBar.css}" />
        <link rel="stylesheet" th:href="@{/css/buttons.css}" />
        <link rel="stylesheet" th:href="@{/css/acordion.css}" />
        <link rel="stylesheet" th:href="@{/css/search.css}" />
        <!-- directs Referencies  -->
        <link rel="icon" href="../static/img/icono.ico">
        <link rel="stylesheet" href="../static/css/general.css" />
        <link rel="stylesheet" href="../static/css/table.css" />
        <link rel="stylesheet" href="../static/css/header.css" />
        <link rel="stylesheet" href="../static/css/ScrollBar.css" />
        <link rel="stylesheet" href="../static/css/buttons.css" />
        <link rel="stylesheet" href="../static/css/acordion.css" />
        <link rel="stylesheet" href="../static/css/search.css" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- UnIcons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
    <body>
        <header>
            <div class="nav_bar">
                <a href="/"class="logo"></a>
                <div class="navigation">
                    <div class="nav_items">
                        <i class="uil uil-times nav_close_btn"></i>
                        <a href="#"><i class="uil uil-estate"></i> Home</a>
                        <a href="/new" onclick="redirect(this, event)"><i class="uil uil-compass"></i> Add Product</a>
                        <a href="#"><i class="uil uil-info-circle"></i> About</a>
                        <a href="#"><i class="uil uil-document-left"></i> Blog</a>
                        <a href="#"><i class="uil uil-envelope"></i> Contact</a>
                    </div>
                </div>
                <i class="uil uil-apps nav_menu_btn"></i>
            </div>
        </header>
        <div class="search-wrapper">
            <div class="input-holder">
                <input type="text" class="search-input" 
                        placeholder="Type to search" required
                />
                <button class="search-icon"
                        onclick="searchToggle(this, event);">
                    <span></span>
                </button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>
        <div class="container">
            <div class="accordion">
                <h5>Show table</h5>
            </div>
            <div class="panal">
                <table id="datatable_users" class="content-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Made In</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_users">
                        <tr th:each="p:${products}">
                            <th th:text="${p.id}"></th>
                            <th th:text="${p.name}"></th>
                            <th th:text="${p.brand}"></th>
                            <th th:text="${p.madeIn}"></th>
                            <th th:text="${p.price}"></th>
                            <td class='actions'>
                                <a th:href="@{'/edit/'+${p.id}}">
                                    <button class="button"><i class="fa-solid fa-pen-to-square" style="color: #fff;"></i></button>
                                </a>
                                <a th:href="@{'/drop/'+${p.id}}">
                                    <button class="button"><i class="fa-solid fa-trash-can" style="color: #fff;"></i></button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Thymeleaf Scripts  -->
        <script th:src="@{/js/navBar.js}"></script>
        <script th:src="@{/js/acordion.js}"></script>
        <script th:src="@{/js/search.js}"></script>
        <!-- Directs Scripts  -->
        <script src="../static/js/navBar.js"></script>
        <script src="../static/js/acordion.js"></script>
        <script src="../static/js/search.js"></script>
        <script src="../static/js/redirections.js"></script>
        <!-- Clear Console -->
        <script>
            console.clear();
            console.log("Recordar que la consola fue limpiada, Aquí nada pasó :)");
        </script>
    </body>
</html>
